<div class="flex flex-col">
  <mat-toolbar class="flex justify-between bg-primary">
    <div class="flex gap-2">
      <div class="flex justify-center items-center bg-white p-1 rounded-2">
        <img src="assets/image/rks infotech png logo.png" class="w-[150px]" alt="rkslogo">
      </div>
      <div class="flex justify-center items-center">
        <button mat-icon-button 
         aria-label="Example icon-button with menu icon" 
         (click)="toggleSidenav()"
         matTooltip="Toggle Sidenav"
         matTooltipPosition="below"
         >
          <mat-icon class="text-white ">menu</mat-icon>
        </button>
      </div>
    </div>
    <div class="flex justify-center items-center">
      <span class="text-white hidden md:inline ">{{menuName}}</span>
    </div>
    <div class="flex  gap-1">
      <div>
        <img src="../../../../assets/image/user.png" alt="" style="width: 40px;height: 40px;border-radius: 50%;">
      </div>
      <div>
        <button mat-icon-button 
        [matMenuTriggerFor]="menu" 
        aria-label="Example icon-button with a menu"
        matTooltip="User Profile"
        matTooltipPosition="below"
        >
          <mat-icon class="text-white">arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon class="text-danger">account_circle</mat-icon>
            <span>{{username}}</span>
          </button>
          <button mat-menu-item >
            <mat-icon  class="text-danger">person</mat-icon>
            <span>{{userRole}}</span>
          </button>
          <button mat-menu-item  (click)="openDialog()">
            <mat-icon  class="text-danger">logout</mat-icon>
            <span  >Logout</span>
          </button>
        </mat-menu>
      </div>
      <!-- <div>
        <button mat-icon-button>
          <mat-icon class="text-white">logout</mat-icon>
        </button>
      </div> -->
    </div>
  </mat-toolbar>

  <mat-sidenav-container  class="h-[calc(100vh_-_84px)] overflow-hidden">
    <mat-sidenav #sidenav style="width: 250px;" 
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [opened]="mobileQuery.matches ? false : true"
    >
      <mat-nav-list >
      @for(item of filterAccess ;track item){
 
    <a
    routerLink="{{ item.link }}"
    mat-list-item
    (isActiveChange)=" getName(item.label);sideOnclickClose()"
    routerLinkActive="active"
    class="text-white"
    style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"
    >
  <div class="flex gap-3" >
    <mat-icon class="text-red-500"> {{ item.icon }}</mat-icon>
    <span class="text-white">{{ item.label }}</span>
  </div>
  </a>
 
      }
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
    <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <footer class="bg-secondary">
    <div class="d-flex justify-content-center align-content-center">
        <span>RKS INFOTECH PVT LTD</span>
    </div>
  </footer>
  <!-- <mat-sidenav-container class="h-screen-3/4 overflow-hidden">
    <mat-sidenav #sidenav style="width: 210px;" class="bg-primary"
                 [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [opened]="mobileQuery.matches ? false : true">
      <mat-nav-list>
        <!-- Loop through main menu items 
        <ng-container *ngFor="let item of list; let i = index">
          <ng-container *ngIf="!(item.subItems && item.subItems.length)">
            <!-- If there are no subItems
            <a routerLink="{{ item.link }}" mat-list-item (click)="sideOnclickClose()" routerLinkActive="active"
               class="text-white">
              <span class="text-white">{{ item.label }}</span>
            </a>
          </ng-container>
          <ng-container *ngIf="item.subItems && item.subItems.length">
            <!-- If there are subItems 
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title class="text-white">{{ item.label }}</mat-panel-title>
              </mat-expansion-panel-header>
              <mat-nav-list>
                <!-- Loop through subItems 
                <a *ngFor="let subItem of item.subItems; let j = index"
                   routerLink="{{ subItem.link }}" mat-list-item (click)="sideOnclickClose()"
                   routerLinkActive="active" class="text-primary">
                  <span class="text-primary">{{ subItem.label }}</span>
                </a>
              </mat-nav-list>
            </mat-expansion-panel>
          </ng-container>
        </ng-container>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <h1>hello</h1>
    </mat-sidenav-content>
  </mat-sidenav-container> -->
</div>
