<app-loading-spinner *ngIf="is_loading"></app-loading-spinner>
<div class="flex justify-center items-center w-full h-full bg-cover bg-center" style="background-image: url('assets/image/Modern\ Office\ Corridor.jpg');">
  <div class="w-full max-w-sm bg-white rounded-lg shadow-lg overflow-hidden">
    <!-- Blurred background overlay -->

    
    <!-- Form content -->
    <div class="relative bg-transparent px-8 py-4  ">
      <div class="flex justify-center py-4">
        <img src="assets/image/rks infotech png logo.png" alt="Logo" class="w-full h-auto">
      </div>
      <form [formGroup]="loginForm" class="mb-4">
        <!-- First Row: Username -->
        <div class="mb-4">
          <label for="user" class="block text-gray-700 text-sm font-bold mb-2">Username</label>
          <input type="text" id="user" formControlName="username" placeholder="Enter username" class="form-control">
        </div>
        
        <!-- Second Row: Password -->
        <div class="mb-6">
          <label for="inputPassword" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
          <input type="password" id="inputPassword" formControlName="password" placeholder="Password" class="form-control">
        </div>
        
        <!-- Third Row: Submit Button -->
        <div class="flex items-center justify-between">
          <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full transition duration-300 ease-in-out transform hover:scale-105" (click)="onSubmit()">Login</button>
        </div>
        
        <!-- Invalid Flag Message -->
        <div *ngIf="invalidFlag" class="mt-4">
          <span class="text-red-500">Invalid Username & Password</span>
        </div>
      </form>
    </div>
  </div>
</div>
